<p><link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900|Raleway:300,400,500,600,700,800,900" rel="stylesheet" /></p>
<!-- Banner start -->
<div class="wrapper"><!-- Department Blue Box start -->
<div id="navybox">
<p>DANC 125</p>
</div>
<!-- Department Blue Box end --> <!-- Banner body start -->
<div id="faa-banner">
<div class="banner-links"><img alt="Illinois logo" src="https://it.faa.illinois.edu/education/images/i_mark_2017_rebrand.png" class="imark" width="10" height="14" />
<p class="links"><a target="_blank" href="http://illinois.edu">University of Illinois</a> | <a target="_blank" href="http://faa.illinois.edu/">College of Fine + Applied Arts</a></p>
</div>
<div class="banner-main-white"><img alt="Course Banner" src="https://compass2g.illinois.edu/bbcswebdav/pid-3180811-dt-content-rid-32908222_1/xid-32908222_1" class="banner" width="800" height="250" /></div>
<div class="banner-white"></div>
<!-- Banner Body end --> </div>
</div>
<!-- Banner end -->
<p></p>
<!-- Overview start -->
<div id="faa-overview">
<div class="colmain">
<h3>Lesson 1: [ LESSON TITLE ]</h3>
<table cellspacing="5" cellpadding="10" border="0">
<tbody>
<tr>
<td><img src="https://compass2g.illinois.edu/bbcswebdav/pid-3180811-dt-content-rid-32908255_1/xid-32908255_1" alt="Lesson Icon" width="70" height="70" /></td>
<td><span style="font-size: medium;"><strong>[ </strong><em><strong>This is the lesson introduction</strong><strong>.</strong> Add a brief description of the lesson here. Explain why the lesson's topic (and content) is important to the course as a whole, the course's field of study, and, if possible, society. Connecting a lesson's topic to the world around us improves student engagement and retention of the material. It makes the material seem more real and important by illustrating its effect on people's lives.<strong> </strong></em><strong>]</strong></span></td>
</tr>
</tbody>
</table>
<br />
<h6><span style="font-size: medium;">Learning Objectives</span></h6>
<ul>
<li><span style="font-size: medium;"><strong>[</strong><em><strong>  OBJECTIVE 1. </strong>Learning Objectives are the main ideas of the lesson. They are the concepts/skills students will have learned by the end of the lesson. Including learning objectives at the beginning of every lesson helps students know why they're learning the material, how the material is important to the class and their studies in general, and what they should be focusing on as they complete lesson content and activities.<strong>  </strong></em><strong>]</strong><em><strong><br /></strong></em></span></li>
<li><span style="font-size: medium;"><strong>[</strong><em><strong>  OBJECTIVE 2  </strong></em><strong>]</strong><strong></strong></span></li>
<li><span style="font-size: medium;"><strong>[</strong><em><strong>  OBJECTIVE 3  </strong></em><strong>]</strong><strong></strong></span></li>
</ul>
</div>
</div>
<!-- Overview end -->